{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Smart schedule | {% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon/favicon.png' %}">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
</head>
<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between">
            <a href="{% url 'faculty_homepage' %}" class="logo d-flex align-items-center">
                <img src="{% static 'img/logo/logo.png' %}" alt="logo">
                <span class="d-none d-lg-block text-white">Smart schedule</span>
            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
                        <i class="bi bi-bell-fill"></i>
                        {% if TotalLecturerNotifications != 0 %}
                        <span class="badge bg-danger badge-number">{{ TotalLecturerNotifications }}</span>
                        {% endif %}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header">
                            {% if TotalLecturerNotifications == 0 or TotalLecturerNotifications > 1 %}
                                You have {{TotalLecturerNotifications }} new notifications.
                            {% else %}
                                You have {{TotalLecturerNotifications }} new notification.
                            {% endif %}
                            <a href=""><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% for notification in lecturer_notifications %}
                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h6 class="text-muted fst-italic">Scheduled lecture</h6>
                                <p class="fw-bold text-dark">{{ notification.message }}</p>
                                <p>Scheduled {{ notification.date_created|timesince }} ago</p>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </li>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="" data-bs-toggle="dropdown">
                        <img src="{{ request.user.profile_pic.url }}" alt="profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">{{ request.user.username }}</span>
                    </a>
            
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>{{ request.user.first_name|title }} {{ request.user.last_name|title }}</h6>
                            <p class="small text-muted mb-0">{{ request.user.faculty.department }}</p>
                            <span>{{ request.user.faculty.position }}</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'faculty_profile' request.user.faculty.staff %}">
                                <i class="bi bi-person"></i>
                                <span>My Profile</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="{% url 'logout_user' %}">
                                <i class="bi bi-box-arrow-right"></i>
                                <span>Sign Out</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item">
                <a class="nav-link " href="{% url 'faculty_homepage' %}">
                    <i class="bi-grid-1x2-fill"></i><span>Dashboard</span>
                </a>
            </li>
            {% if request.user.faculty.position == 'HOD' %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'assign_units' request.user.faculty.id %}">
                    <i class="bi-person-video3"></i><span>Assign units</span>
                </a>
            </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'schedule_lecture' request.user.faculty.id request.user.faculty %}">
                    <i class="bi-alarm-fill"></i><span>Schedule lecture</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'lectures_records' request.user.faculty.id request.user.faculty %}">
                    <i class="bi-collection-fill"></i><span>Lecture records</span>
                </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li class="nav-heading">Quick links</li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faculty_profile' request.user.faculty.staff %}">
                    <i class="bi-person-bounding-box"></i>
                    <span>Profile</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout_user' %}">
                    <i class="bi-door-open-fill"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </aside>

    {% block content %}
    {% endblock %}

    <div id="preloader"></div>
    <a href="" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>